n8n_whatsapp_product_query.json
{
    "name": "WhatsApp_Product_Query_Agent",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-product-query",
                "options": {}
            },
            "name": "Webhook_WhatsApp",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableStr": "menu_view",
                "returnAll": true,
                "options": {}
            },
            "name": "Get_Menu_Data",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                300,
                300
            ],
            "credentials": {
                "supabaseApi": "Supabase_Creds"
            }
        },
        {
            "parameters": {
                "jsCode": "const products = items.map(item => item.json);\n\n// Agrupar por categor칤a para un contexto m치s limpio\nconst menuByCategory = {};\nproducts.forEach(p => {\n  if (!menuByCategory[p.category_name]) menuByCategory[p.category_name] = [];\n  menuByCategory[p.category_name].push({\n    name: p.name,\n    price: p.price,\n    description: p.description,\n    image: p.image_url,\n    included: p.base_ingredients,\n    extras_available: p.extras // Extras es un JSONB array [{name, price}]\n  });\n});\n\nreturn [{ json: { menu_context: JSON.stringify(menuByCategory, null, 2), user_query: $('Webhook_WhatsApp').first().json.body.message } }];"
            },
            "name": "Format_Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "prompt": "游 INFO DEL SISTEMA: Eres 'RestoBot', el Asistente Virtual de IA del restaurante.\n\nPOLITICAS WHATSAPP:\n1. IDENTIDAD: Siempre identif칤cate como un asistente virtual si te preguntan.\n2. L칈MITES: Solo respondes sobre el men칰 y productos.\n3. ESCALAMIENTO: Si el usuario pide \"hablar con un humano\", \"asesor\", o est치 molesto, diles: \"Para atenci칩n personalizada, por favor llama a nuestra l칤nea principal: 3001234567 o espera un momento.\"\n\nContexto del Men칰 (Productos, precios, im치genes):\n{{$json.menu_context}}\n\nConsulta del Usuario: \"{{$json.user_query}}\"\n\nInstrucciones:\n1. Responde de manera concisa y amable con emojis.\n2. Lista opciones o detalles espec칤ficos seg칰n lo pida el usuario.\n3. Si hay imagen, incl칰yela.\n4. PRECIOS: En pesos COP ($15.000).\n5. INTENCI칍N DE COMPRA: Si quieren pedir, ind칤cales el enlace web o el proceso de pedido."
            },
            "name": "AI_Response_Generator",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                700,
                300
            ],
            "credentials": {
                "openAiApi": "OpenAI_Credentials"
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Respond_to_Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        }
    ],
    "connections": {
        "Webhook_WhatsApp": {
            "main": [
                [
                    {
                        "node": "Get_Menu_Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get_Menu_Data": {
            "main": [
                [
                    {
                        "node": "Format_Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format_Context": {
            "main": [
                [
                    {
                        "node": "AI_Response_Generator",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI_Response_Generator": {
            "main": [
                [
                    {
                        "node": "Respond_to_Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}