n8n_whatsapp_ordering.json
{
    "name": "WhatsApp_Incoming_Order_Agent",
    "nodes": [
        {
            "parameters": {
                "path": "webhook/whatsapp/incoming",
                "responseMode": "lastNode",
                "options": {}
            },
            "name": "WhatsApp_Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ],
            "webhookId": "whatsapp-incoming-webhook"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.body.message.type }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "image"
                        }
                    ]
                }
            },
            "name": "Check_Message_Type",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "prompt": "Analiza esta imagen. ¿Es un comprobante de pago o transferencia bancaria?\nExtrae la siguiente información en formato JSON:\n{\n  \"is_payment_proof\": boolean,\n  \"date\": string (DD/MM/YYYY),\n  \"time\": string,\n  \"amount\": number,\n  \"status\": string (exitoso, pendiente, fallido, o desconocido),\n  \"sender\": string,\n  \"receiver\": string\n}\n\nSi no es un comprobante, devuelve { \"is_payment_proof\": false }.\nHoy es: {{ $today }}",
                "options": {}
            },
            "name": "Analyze_Payment_Proof",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                500,
                200
            ],
            "credentials": {
                "openAiApi": "OpenAI_Credentials"
            }
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "options": {
                    "systemMessage": "Eres 'RestoBot', un mesero virtual automatizado del restaurante.\n\nPOLTICAS:\n- Identidad: Eres una IA.\n- Escalamiento: Si piden humano, diles que contacten al 3001234567.\n\nCONTEXTO ACTUAL:\n- Tipo de mensaje: {{ $('Check_Message_Type').item.json.body.message.type }}\n- Análisis de Imagen: {{ JSON.stringify($('Analyze_Payment_Proof').item ? $('Analyze_Payment_Proof').item.json : {}) }}\n\nREGLAS DE NEGOCIO:\n1. TIPOS DE PEDIDO: 'mesa' o 'domicilio'.\n2. DOMICILIO:\n   - Pedir dirección.\n   - Pedir COMPROBANTE DE PAGO (Imagen).\n   - VERIFICAR: Fecha de HOY y Transacción EXITOSA.\n   - Si es válido -> Procede.\n   - Si es inválido -> Rechaza amablemente.\n3. MENÚ:\n   - Identifica productos (Hamburguesas, Perros, etc).\n\nSALIDA REQUERIDA (JSON):\n{ \n  \"ready_to_order\": true,\n  \"type\": \"domicilio|mesa\", \n  \"customer_name\": \"...\",\n  \"customer_address\": \"...\",\n  \"items\": [{ \"product\": \"...\", \"quantity\": 1 }],\n  \"payment_proof_url\": \"...\"\n}\n\nPregunta amablemente si falta info. No generes JSON hasta tener todo."
                }
            },
            "name": "AI_Agent_Waiter",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                700,
                300
            ],
            "credentials": {
                "openAiApi": "OpenAI_Credentials"
            }
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.ready_to_order }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "Is_Order_Ready",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "tableStr": "orders",
                "columnsJson": "={ \"customer_phone\": \"{{ $('WhatsApp_Webhook').item.json.body.from }}\", \"type\": \"{{ $json.type }}\", \"status\": \"nuevo\", \"total\": 0, \"payment_proof_url\": \"{{ $json.payment_proof_url }}\" }"
            },
            "name": "Create_Order",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1100,
                300
            ],
            "credentials": {
                "supabaseApi": "Supabase_Creds"
            }
        },
        {
            "parameters": {
                "tableStr": "order_items",
                "columnsJson": "={ \"order_id\": {{ $json.id }}, \"product_name\": \"{{ $('AI_Agent_Waiter').item.json.items[0].product }}\", \"quantity\": {{ $('AI_Agent_Waiter').item.json.items[0].quantity }}, \"price\": 0 }"
            },
            "name": "Add_Items",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1300,
                300
            ],
            "credentials": {
                "supabaseApi": "Supabase_Creds"
            }
        }
    ],
    "connections": {
        "WhatsApp_Webhook": {
            "main": [
                [
                    {
                        "node": "Check_Message_Type",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check_Message_Type": {
            "main": [
                [
                    {
                        "node": "Analyze_Payment_Proof",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "AI_Agent_Waiter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analyze_Payment_Proof": {
            "main": [
                [
                    {
                        "node": "AI_Agent_Waiter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI_Agent_Waiter": {
            "main": [
                [
                    {
                        "node": "Is_Order_Ready",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is_Order_Ready": {
            "main": [
                [
                    {
                        "node": "Create_Order",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create_Order": {
            "main": [
                [
                    {
                        "node": "Add_Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}