n8n_unified_super_agent_v3.json
{
    "name": "Super_Agente_RestoBot_Unificado_v3_WhatsApp_API",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "messages"
                ],
                "options": {}
            },
            "type": "n8n-nodes-base.whatsAppTrigger",
            "typeVersion": 1,
            "position": [
                100,
                700
            ],
            "id": "whatsapp-trigger-node",
            "name": "WhatsApp Trigger",
            "webhookId": "whatsapp-trigger-webhook",
            "credentials": {
                "whatsAppTriggerApi": {
                    "id": "CNgrIn9wZQmpkduo",
                    "name": "WhatsApp OAuth account Recibe mensajes"
                }
            }
        },
        {
            "parameters": {
                "operation": "send",
                "phoneNumberId": "985672601291427",
                "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
                "textBody": "={{ $json.reply_to_user }}",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.whatsApp",
            "typeVersion": 1.1,
            "position": [
                1100,
                700
            ],
            "id": "send-ai-reply-node",
            "name": "Send_AI_Reply",
            "credentials": {
                "whatsAppApi": {
                    "id": "PgrWSe6fLKZejP6f",
                    "name": "WhatsApp account responder mensajes"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "orders/update",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "name": "Webhook_Update_Order",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                100
            ],
            "webhookId": "update-order-webhook"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "orders",
                "filterType": "string",
                "filterString": "=id=eq.{{ $json.body.orderId }}",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "status",
                            "fieldValue": "={{ $json.body.status }}"
                        }
                    ]
                }
            },
            "name": "Update_Order_Status",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                300,
                100
            ],
            "credentials": {
                "supabaseApi": "Supabase_Creds"
            }
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.status }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "despachado"
                        },
                        {
                            "value2": "fabricacion"
                        }
                    ]
                }
            },
            "name": "Check_Status",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                500,
                100
            ]
        },
        {
            "parameters": {
                "operation": "send",
                "phoneNumberId": "985672601291427",
                "recipientPhoneNumber": "={{ $('Webhook_Update_Order').item.json.body.customer_phone }}",
                "textBody": "=Hola 游녦, tu pedido ahora est치 en estado: *{{ $json.status }}*. \n\nGracias por elegirnos. 游꼢",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.whatsApp",
            "typeVersion": 1.1,
            "position": [
                700,
                100
            ],
            "id": "send-notification-node",
            "name": "Send_Notification",
            "credentials": {
                "whatsAppApi": {
                    "id": "PgrWSe6fLKZejP6f",
                    "name": "WhatsApp account responder mensajes"
                }
            }
        },
        {
            "parameters": {
                "path": "orders",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "name": "Webhook_Get_Orders",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ],
            "webhookId": "get-orders-webhook"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableStr": "orders",
                "returnAll": true,
                "options": {}
            },
            "name": "Get_All_Orders",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                300,
                300
            ],
            "credentials": {
                "supabaseApi": "Supabase_Creds"
            }
        },
        {
            "parameters": {
                "path": "customers",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "name": "Webhook_Get_Customers",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                500
            ],
            "webhookId": "get-customers-webhook"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableStr": "customers",
                "returnAll": true,
                "options": {}
            },
            "name": "Get_All_Customers",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                300,
                500
            ],
            "credentials": {
                "supabaseApi": "Supabase_Creds"
            }
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.messages[0].type }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "image"
                        }
                    ]
                }
            },
            "name": "Check_Input_Type",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                300,
                700
            ]
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableStr": "menu_view",
                "returnAll": true,
                "options": {}
            },
            "name": "Get_Menu",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                500,
                800
            ],
            "credentials": {
                "supabaseApi": "Supabase_Creds"
            }
        },
        {
            "parameters": {
                "jsCode": "const products = items.map(item => item.json);\nconst menuByCategory = {};\nproducts.forEach(p => {\n  if (!menuByCategory[p.category_name]) menuByCategory[p.category_name] = [];\n  menuByCategory[p.category_name].push({\n    name: p.name,\n    price: p.price,\n    description: p.description,\n    image: p.image_url,\n    ingredients: p.base_ingredients,\n    extras: p.extras\n  });\n});\nreturn [{ json: { menu_context: JSON.stringify(menuByCategory, null, 2) } }];"
            },
            "name": "Format_Menu_Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                700,
                800
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "prompt": "Analiza imagen. 쮺omprobante pago?\nJSON: {is_payment_proof, date, status, amount, sender}",
                "options": {}
            },
            "name": "Analyze_Image",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                500,
                600
            ],
            "credentials": {
                "openAiApi": "OpenAI_Credentials"
            }
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "options": {
                    "systemMessage": "游 Eres 'RestoBot', el Mesero Virtual del restaurante. TU OBJETIVO: Guiar al cliente paso a paso hasta cerrar la venta.\n\n游 CONTEXTO:\n- 游늰 HOY: {{ $today }}\n- 游꼢 MEN칔: {{ $('Format_Menu_Context').item ? $('Format_Menu_Context').item.json.menu_context : 'Error' }}\n- 游닞 FOTO: {{ $('Analyze_Image').item ? JSON.stringify($('Analyze_Image').item.json) : 'N/A' }}\n\n游뚽 FLUJO DE CONVERSACI칍N (Sigue este orden):\n1. **SALUDO**: Si saluda, muestra SOLO las **CATEGOR칈AS** (Hamburguesas 游꼢, Perros 游꺐, etc.). No listes productos a칰n.\n2. **CATEGOR칈A**: Si elige categor칤a, muestra los **PRODUCTOS** de esa categor칤a con precio.\n3. **PRODUCTO**: Si elige producto, ofrece **ADICIONALES/VARIACIONES** (쯉in cebolla? 쮹ebida extra?).\n4. **CIERRE**: Confirma el pedido total.\n5. **DATOS**: Si es Domicilio, pide **Direcci칩n** y **FOTO PAGO**.\n\n游닍 FORMATO DE RESPUESTA (SIEMPRE JSON):\n{\n  \"reply_to_user\": \"(Texto amable para el usuario)\",\n  \"order_data\": null\n}\n\nSi el pedido est치 COMPLETO (Items + Direcci칩n + Pago Ok), llena 'order_data'."
                }
            },
            "name": "Master_Brain_AI",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                900,
                700
            ],
            "credentials": {
                "openAiApi": "OpenAI_Credentials"
            }
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.order_data != null }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "Is_Order_Confirmed",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1300,
                700
            ]
        },
        {
            "parameters": {
                "tableStr": "orders",
                "columnsJson": "={ \"customer_phone\": \"{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\", \"type\": \"{{ $json.order_data.type }}\", \"status\": \"nuevo\", \"total\": 0, \"payment_proof_url\": \"{{ $json.order_data.payment_proof_url }}\" }"
            },
            "name": "Save_Order",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1500,
                700
            ],
            "credentials": {
                "supabaseApi": "Supabase_Creds"
            }
        }
    ],
    "connections": {
        "WhatsApp Trigger": {
            "main": [
                [
                    {
                        "node": "Check_Input_Type",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check_Input_Type": {
            "main": [
                [
                    {
                        "node": "Analyze_Image",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get_Menu",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get_Menu": {
            "main": [
                [
                    {
                        "node": "Format_Menu_Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format_Menu_Context": {
            "main": [
                [
                    {
                        "node": "Master_Brain_AI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analyze_Image": {
            "main": [
                [
                    {
                        "node": "Master_Brain_AI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Master_Brain_AI": {
            "main": [
                [
                    {
                        "node": "Send_AI_Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send_AI_Reply": {
            "main": [
                [
                    {
                        "node": "Is_Order_Confirmed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is_Order_Confirmed": {
            "main": [
                [
                    {
                        "node": "Save_Order",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook_Update_Order": {
            "main": [
                [
                    {
                        "node": "Update_Order_Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update_Order_Status": {
            "main": [
                [
                    {
                        "node": "Check_Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check_Status": {
            "main": [
                [
                    {
                        "node": "Send_Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook_Get_Orders": {
            "main": [
                [
                    {
                        "node": "Get_All_Orders",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook_Get_Customers": {
            "main": [
                [
                    {
                        "node": "Get_All_Customers",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}